@import "variables";

.details {
  padding-bottom: 50px;
  height: 100vh;
  overflow-y: scroll;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media #{$mobile} {
    flex-direction: column;
  }
}

.card {
  width: 30%;
  display: flex;
  flex-direction: column;

  @media #{$mobile} {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.image {
  padding: 0;
}

.name {
  padding: 20px 0;
  font-size: 20px;

  @media #{$mobile} {
    text-align: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media #{$mobile} {
    align-items: center;
  }
}

.amount {
  padding-top: 15px;
  text-align: center;
  font-size: 30px;

  @media #{$mobile} {
    font-size: 25px;
  }

  .coins {
    padding: 0 5px ;
    font-size: 22px;
  }
}


.table {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: 1px solid $lightGrey;

  @media #{$mobile} {
    padding: 10px 0;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &:last-child {
    border: 0;
  }
}

.itemTitle {
  color: $lightGrey;
  font-size: 20px;

  @media #{$mobile} {
    font-size: 15px;
  }
}

.itemValue {
  color: $black;
  font-size: 25px;

  @media #{$mobile} {
    text-align: right;
    font-size: 15px;
  }
}


