@import "variables";

.about {
  padding-bottom: 30px;
  height: 100vh;
  overflow-y: scroll;
}


.back {
  padding: 20px 0;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  color: $blue;
  font-size: 20px;

  @media #{$mobile} {
    font-size: 15px;
  }
}

.arrow {
  padding-right: 20px;
}

.card_name {
  font-size: 22px;
  color: $black;

  @media #{$mobile} {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
  }
}

.card_desc {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 289px 1fr;

  @media #{$tablet} {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media #{$mobile} {
    align-items: flex-start;
  }
}

.image {
  width: 289px;
  height: 189px;

  @media #{$mobile} {
    width: 285px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

p {
  padding: 0 20px;
  font-size: 22px;

  @media #{$mobile} {
    padding-left: 0;
    padding-top: 15px;
    font-size: 15px;
  }
}

.card_pros {
  padding-top: 35px;
  display: grid;
  grid-template-columns: 50% 50%;

  @media #{$mobile} {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
}

.item {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media #{$mobile} {
    padding-bottom: 10px;

    p {
      padding: 0 15px;
    }
  }
}

.percents,
.countries,
.currency,
.bonus {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $blue;
  color: $white;
  font-size: 25px;

  @media #{$mobile} {
    width: 45px;
    height: 45px;
    font-size: 15px;
  }
}

.percents {
  background-color: #3ebaa4;
}

.countries {
  background-color: #687397;
}

.currency {
  background-color: #ffb14b;
}

.bonus {
  background-color: #71b3ca;
}

.buttons {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$mobile} {
    padding-bottom: 15px;
  }
}

.order,
.another_name,
.apply {
  width: 25%;
  padding: 20px 0;
  text-align: center;
  border: 1px solid $blue;
  border-radius: 36px;
  font-size: 24px;

  @media #{$mobile} {
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
  }
}

.order {;
  background-color: $blue;
  a {
    color: $white;
  }
}

.another_name {
  font-size: 20px;
  border-color: transparent;
  a {
    color: $lightGrey;

    @media #{$mobile} {
      font-size: 15px;
    }
  }
}

.apply {
  background-color: transparent;

  a {
    color: $blue;
  }
}



