@import "variables";

.myPayments {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.payment {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$mobile} {
    padding-bottom: 20px;
    width: 50%;
  }

}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 116px;
  height: 116px;

  @media #{$mobile} {
    width: 58px;
    height: 58px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.desc {
  padding-top: 15px;
  font-size: 18px;
  color: $grey;
  text-align: center;

  @media #{$mobile} {
    font-size: 15px;
  }
}


