@import "variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .61);
}

.modal {
  position: absolute;
  top: 68px;
  left: 188px;
  right: 188px;
  bottom: 68px;
  background-color: $white;
  border-radius: 25px;
  outline: none;
}

.modal_wrap {
  padding: 0;
}

.make_task,
.make_credit {
  margin: 0 30px;
  padding: 23px 50px;
  font-size: 20px;
  border-radius: 36px;
  border: 1px solid $blue;
  background-color: transparent;
  color: $blue;
  outline: none;

  @media #{$mobile} {
    margin: 20px 0;
    padding: 10px 15px;
  }
}

.make_credit {
  border: 1px solid $red;
  color: $red;
}
