@import "variables";

.back {
  padding: 30px 0;

  @media #{$mobile} {
    padding: 20px 0;
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  color: $blue;
  font-size: 20px;
}


.arrow {
  padding-right: 20px;
}
