@import "variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .61);
}

.modal {
  position: absolute;
  top: 68px;
  left: 188px;
  right: 188px;
  bottom: 68px;
  background-color: $white;
  border-radius: 25px;
  outline: none;
}

.modal_wrap {
  padding: 50px 150px;
}

.title {
  font-size: 27px;
  text-align: center;
}

.steps {
  padding-top: 60px;
}

.form {
  padding: 0;
}

.step {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.number {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: $blue;
  color: $white;
  border: 1px solid $blue;
  border-radius: 50%;
}

.field {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 22px;
  color: $black;
}

.input {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    padding: 11px 5px;
    width: 371px;
    color: $black;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid $slightGrey;
    outline: none;

    &::placeholder {
      color: $slightGrey;
    }
  }

  .uah_sign {
    padding-left: 15spx;
    font-size: 27px;
  }
}

.range {
  padding-top: 40px;
  width: 622px;

  :global {

    .input-range__label--min {
      left: 20px;
      font-size: 20px;
    }

    .input-range__label--max {
      right: 20px;
      font-size: 20px;
    }

    .input-range__label--value {
      right: 0;
      font-size: 20px;
      color: $black;
    }

    .input-range__slider {
      top: -11px;
      width: 40px;
      height: 40px;
      border: 1px solid $lightGrey;
      background-color: $white;
    }

    .input-range__track {
      height: 1px;
      &--active {
        background: $blue;
      }
    }
  }
}

.info {
  padding-top: 30px;
  padding-left: 90px;
  display: flex;
  flex-direction: row;
}

.payment {
  width: 35%;
  font-size: 20px;
  color: $black;
  border-right: 1px solid $slightGrey;
}

.value {
  padding-top: 15px;
  font-size: 30px;
  font-weight: 700;

  .uah_sign {
    padding-left: 10px;
    font-weight: 400;
  }
}

.desc {
  width: 65%;
  color: $slightGrey;

  p {
    padding-right: 30px;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.5px;
  }
}

.buttons {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.close,
.submit {
  margin: 0 30px;
  padding: 23px 50px;
  font-size: 20px;
  border-radius: 36px;
  border: 1px solid transparent;
  background-color: transparent;
  color: $lightGrey;
}

.submit {
  border: 1px solid $blue;
  background-color: $blue;
  color: $white;
}


.make_task,
.make_credit {
  margin: 0 30px;
  padding: 23px 50px;
  font-size: 20px;
  border-radius: 36px;
  border: 1px solid $blue;
  background-color: transparent;
  color: $blue;

  @media #{$mobile} {
    margin: 20px 0;
    padding: 10px 15px;
    font-size: 15px;
  }
}

.make_credit {
  border: 1px solid $red;
  color: $red;
}
