@import "variables";

.confirmation {
  text-align: center;
}

.info {
  margin: 0 60px;
  padding: 84px 0;
  border-bottom: 1px solid $lightGrey;
}

.info_block {

  &:first-child {
    padding-bottom: 34px;
  }
}

.label {
  font-size: 22px;
  color: $lightGrey;
}

.data {
  padding-top: 15px;
  font-size: 30px;
  color: $black;
}

.terms {
  padding-top: 25px;
  padding-bottom: 30px;
}

.link {
  margin-top: 15px;
  display: inline-block;
  font-size: 22px;
  color: $black;
}
