@import "variables";

.all {
  padding: 0;
}

.table {
  padding-bottom: 20px;
  display: grid;
}

.table_row {
  padding: 15px 0;
  display: grid;
  grid-template-columns: 50% 25% 25%;

  @media #{$mobile} {
    grid-template-columns: 33% 33% 33%;
    align-items: center;
  }
}

.title {
  font-size: 25px;
  color: $black;

  @media #{$mobile} {
    padding: 5px 10px;
    font-size: 20px;
  }

  .label {
    font-size: 18px;
    opacity: .62;

    @media #{$mobile} {
      display: none;
    }
  }
}

.small_column {
  text-align: center;
  justify-content: center;
}

.uah,
.market {
  display: flex;
  align-items: center;
  flex-direction: row;

  @media #{$mobile} {
    flex-direction: column;
  }
}

.code {
  font-size: 22px;
  color: $blue;

  @media #{$mobile} {
    font-size: 16px;
  }
}

.name {
  padding-left: 15px;
  font-size: 16px;
  color: $slightGrey;

  @media #{$mobile} {
    font-size: 13px;
    text-align: center;
    padding: 0;
  }
}

.price {
  font-size: 22px;
  color: $black;

  @media #{$mobile} {
    font-size: 15px;
  }
}

.divider {
  padding: 0 10px;
  font-size: 22px;
  color: $slightGrey;

  @media #{$mobile} {
    display: none;
  }
}

.desc {
  font-size: 22px;
  color: $black;

  @media #{$mobile} {
    font-size: 15px;
  }
}

.growth {
  position: relative;
  padding-left: 10px;
  color: $blue;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 5px;
    width: 1px;
    height: 15px;
    background-color: $blue;
  }
}
