@import "variables";


.myPayments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  padding: 20px 0;
  font-size: 20px;
}

.payment {
  padding-bottom: 60px;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$mobile} {
    width: 50%;
  }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 77px;
  height: 77px;

  @media #{$mobile} {
    width: 58px;
    height: 58px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.desc {
  padding-top: 15px;
  font-size: 18px;
  color: $grey;
  text-align: center;
}


