@import "variables";

.stepper {
  width: 70%;
  margin: 0 auto;

  @media #{$tablet} {
    padding: 40px 0;
  }
}

.step_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.step {
  position: relative;
  width: 33.33%;
  color: $grey;
  font-size: 18px;
  text-align: center;

  img {
    width: 38px;
    height: 38px;
  }

  &:last-child {

    &:after {
      display: none;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 18px;
    left: 50%;
    background-color: $lightGrey;
    width: 100%;
    height: 2px;
    z-index: -1;
  }
}

.active {

  &:after {
    background-color: $blue;
  }

  .icon {
    background-color: $blue;
  }
}

.title {
  @media #{$tablet} {
    font-size: 16px;
  }

  @media #{$phone} {
    display: none;
  }
}

.icon {
  border-radius: 50%;
  background-color: $white;
}
