@import "variables";

.myCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20%;
  display: grid;
  grid-template-rows: 50px 136px 70px 50px;
  align-items: center;

  @media #{$tablet} {
    width: 50%;
  }

  @media #{$mobile} {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

.name {
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 200px;
  height: 60px;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  padding: 10px 0;
  outline: none;
  color: $black;
  line-height: 25px;
  text-align: center;

  @media #{$mobile} {
    padding-left: 7px;
    text-align: left;
    font-size: 15px;
    line-height: 15px;
  }
}

.image {
  align-self: center;
  justify-self: center;

  @media #{$mobile} {
    width: 140px;
    height: 100px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.amount {
  padding-top: 20px;
  text-align: center;
  font-size: 25px;

  @media #{$mobile} {
    font-size: 20px;
  }

  .coins {
    padding: 0 5px ;
    font-size: 15px;
  }
}

.more {
  cursor: pointer;
  margin: 0 auto;
  padding: 6px 0;
  width: 60%;
  border-radius: 20px;
  border: 1px solid $blue;
  font-size: 18px;
  color: $blue;
  background-color: $white;
  outline: none;
  text-align: center;

  @media #{$mobile} {
    margin: 10px 0;
    padding: 3px;
    width: 90%;
    font-size: 15px;
  }

  &:hover {
    background-color: $blue;
    color: $white;
  }
}
