@import "variables";

.transfer_stepper {
  border-radius: 25px;
  border: 1px solid #d8d8d8;
  padding-bottom: 10px;
}

.title {
  padding-top: 60px;
  padding-bottom: 42px;
  text-align: center;
  font-size: 27px;
  font-weight: 400;
}

