@import "variables";

.title {
  padding-top: 46px;
  color: $grey;

  @media #{$phone} {
    padding-top: 36px;
  }

  @media #{$mobile} {
    padding-top: 26px;
  }

  h2 {
    font-size: 40px;
    font-weight: 400;

    @media #{$phone} {
      font-size: 35px;
    }

    @media #{$mobile} {
      font-size: 25px;
    }
  }
}
