@import "variables";

.myDeposits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.deposit {
  width: 20%;
  display: grid;
  grid-template-rows: 50px 155px 70px 50px;
  align-items: center;

  @media #{$tablet} {
    width: 33.33%;
  }

  @media #{$mobile} {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

.name {
  width: 100%;
  max-width: 200px;
  height: 60px;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  padding: 10px 22px 20px 0;
  outline: none;
  color: $black;
  line-height: 25px;

  @media #{$mobile} {
    padding-left: 7px;
    text-align: left;
    font-size: 15px;
    line-height: 15px;
  }
}

.image {
  margin-top: 20px;
  width: 152px;
  height: 152px;

  @media #{$mobile} {
    width: 115px;
    height: 100px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.amount {
  padding-top: 20px;
  font-size: 25px;

  @media #{$mobile} {
    font-size: 20px;
  }

  .coins {
    padding: 0 5px ;
    font-size: 15px;
  }
}

.more {
  cursor: pointer;
  padding: 6px 0;
  width: 60%;
  border-radius: 20px;
  border: 1px solid $blue;
  font-size: 18px;
  color: $blue;
  background-color: $white;
  outline: none;
  text-align: center;

  @media #{$mobile} {
    margin: 10px 0;
    padding: 3px;
    width: 90%;
    font-size: 15px;
  }

  &:hover {
    background-color: $blue;
    color: $white;
  }
}
