@import "variables";

.navigation {
  grid-area: sidebar;
  grid-column: 1;
  width: 100%;
  height: 100vh;
  background-image: $blueGrad;
  color: $white;
}

.logo {
  padding-top: 25px;
  display: flex;
  align-items: center;

  @media #{$tablet} {
    text-align: center;
  }

  @media #{$phone} {
    display: none;
  }

  a {
    cursor: pointer;

    &:hover {
      color: darkslateblue;
    }
  }
}

.logo_img {
  width: 189px;
  height: 26px;

  @media #{$tablet} {
    width: 94px;
    height: 13px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.user {
  padding-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media #{$phone} {
    display: none;
  }

  .user_img {
    width: 89px;
    height: 91px;

    @media #{$tablet} {
      width: 45px;
      height: 45px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .title {
    padding-top: 14px;
    font-size: 22px;
    text-transform: uppercase;

    @media #{$tablet} {
      font-size: 16px;
    }
  }
}

.link {
  padding-top: 6px;
  font-size: 16px;
  color: $white;

  @media #{$tablet} {
    font-size: 12px;
  }
}

.nav {
  padding-top: 27px;

  @media #{$phone} {
    padding-top: 0;
  }

  .list {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .listItem {
    list-style-type: none;
  }
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
  color: $white;

  @media #{$phone} {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &:hover {
    color: darkslateblue;
  }
}

.name {
  margin-left: 20px;

  @media #{$phone} {
    margin-left: 0;
    margin-top: 5px;
  }

  @media #{$mobile} {
    display: none;
  }
}

.signOut {
  position: fixed;
  bottom: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media #{$phone} {
    padding: 15px 5px;
    bottom: 10px;
  }

  a {
    padding: 10px 5px;
    color: $white;

    &:hover {
      color: darkslateblue;
    }
  }
}

.svg {
  width: 30px;
  height: 30px;
}

.icon {
  width: 30px;
  height: 30px;
}
