@import "variables";

.cellular {
  padding-bottom: 50px;
}

.title {
  padding-top: 50px;
  font-size: 40px;
  font-family: Helvetica, sans-serif;

  @media #{$mobile} {
    font-size: 25px;
  }
}

.back {
  padding: 30px 0;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  color: $blue;
  font-size: 20px;
}

.arrow {
  padding-right: 20px;
}

.operators {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.operator {
  padding-bottom: 25px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$mobile} {
    padding-top: 25px;
    width: 50%;
  }
}

.icon {
  width: 116px;
  height: 116px;

  @media #{$mobile} {
    width: 58px;
    height: 58px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.name {
  padding-top: 16px;
  font-size: 18px;
  color: $grey;
  text-align: center;

  @media #{$mobile} {
    font-size: 16px;
  }
}
