@import 'variables';


.todo {
  padding: 0;
}

.todo_list {
  padding-left: 0;
  list-style-type: none;
}

.todo_item {
  padding: 0;
}

:global {
  .hidden {
    display: none;
  }
}



.show_more {
  text-align: center;

}


.todoLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $grey;
  padding: 10px 0 10px 10px;

  @media #{$mobile} {
    padding: 5px 0;
  }

  &:hover {
    color: $blue;
  }

  img {
    margin-right: 15px;
  }
}
