@import "variables";

.individual {

}

.block {
  padding-bottom: 70px;
  display: grid;

  @media #{$tablet} {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
}

.top {
  padding: 15px 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;

  @media #{$tablet} {
    font-size: 15px;
    font-weight: 700;
  }
}

.link {
  a {
    font-size: 18px;
    color: $slightGrey;

    @media #{$tablet} {
      font-size: 15px;
    }
  }
}

.image {
  width: 224px;
  height: 147px;

  @media #{$mobile} {
    width: 140px;
    height: 100px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.text {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media #{$mobile} {
    padding-right: 0;
  }
}

.desc {
  font-size: 18px;

  @media #{$mobile} {
    display: none;
  }
}

.more {
  @media #{$mobile} {
    padding-top: 15px;
  }

  a {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 36px;
    background-color: $blue;
    font-size: 18px;
    color: $white;

    @media #{$tablet} {
      font-size: 15px;
      padding: 5px 20px;
    }
  }
}

.slider {
  display: grid;
  grid-template-columns: 50% 50%;

  @media #{$tablet} {
    display: flex;
    flex-direction: row;
  }
}

.item {
  display: grid;
  grid-template-columns: 224px 1fr;

  @media #{$tablet} {
    padding-bottom: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.buttons {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media #{$mobile} {
    padding-top: 0;
    flex-direction: column;
    align-items: center;
  }

  @media #{$mobile} {
    padding-top: 0;
    flex-direction: column;
    align-items: center;
  }
}

.make_task,
.make_credit {
  margin: 0 30px;
  padding: 23px 50px;
  font-size: 20px;
  border-radius: 36px;
  border: 1px solid $blue;
  background-color: transparent;
  color: $blue;

  @media #{$tablet} {
    margin: 20px 0;
    padding: 10px 15px;
  }
}

.make_credit {
  border: 1px solid $red;
  color: $red;
}
