@import "variables";

.header {
  padding-top: 37px;
  grid-area: header;

  @media #{$tablet} {
    padding: 10px;
  }
}

.languages {
  @media #{$phone} {
    padding-right: 0;
  }

  span {
    font-size: 16px;
    color: $grey;
  }
}

.mob_languages {
  display: none;
}

.desktop {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @media #{$phone} {
    display: none;
  }
}

.mobile {
  display: none;

  @media #{$phone} {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.row {
  display: flex;

  @media #{$mobile} {
    justify-content: space-between;
    align-items: center;
  }
}

.text {
  font-size: 16px;
}



.search {
  margin-right: 42px;
  position: relative;
  width: 50%;
  border: 1px solid $lightGrey;
  border-radius: 25px;
  opacity: .47;

  @media #{$tablet} {

  }

  @media #{$mobile} {
    margin-right: 0;
    width: 20%;
  }

  input {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 25px;
    color: $grey;
    font-size: 18px;
    outline: none;

    @media #{$mobile} {
      margin-right: 0;
      width: 20%;
    }
  }
}

.mob_search {
  margin-right: 10px;
  position: relative;
  border: 1px solid $lightGrey;
  border-radius: 25px;
  opacity: .47;
  width: 40%;

  input {
    padding: 3px 10px;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 25px;
    color: $grey;
    font-size: 15px;
    outline: none;
    background-color: transparent;
  }
}


.loupe {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  @media #{$tablet} {
    display: none;
  }

  @media #{$mobile} {
    margin-right: 0;
    width: 20%;
  }
}


.mob_loupe {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);

  @media #{$mobile} {
    display: none;
    margin-right: 0;
    width: 20%;
  }
}

.newButton {
  padding-right: 30px;
  width: 20%;

  @media #{$tablet} {
    width: 40%;
  }

  @media #{$mobile} {
    width: 45%;
  }

  button {
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    background-color: $white;
    border: 1px solid $blue;
    border-radius: 25px;
    color: $blue;
    font-size: 15px;
    outline: none;

    @media #{$mobile} {
      padding: 5px;
      font-size: 10px;
    }

    &:hover {
      color: $white;
      background-color: $blue;
    }
  }
}

.mob_newButton {
  margin-right: 10px;
  width: 30px;
  height: 30px;

  button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid $blue;
    border-radius: 25px;
    color: $blue;
    font-size: 15px;
    outline: none;

    &:hover {
      color: $white;
      background-color: $blue;
    }
  }
}

.burger_btn {
  margin-right: 10px;

  button {
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    outline: none;

    img {
      width: 100%;
      height: 100%;
    }
  }
}



