@import "variables";


.search {
  margin-right: 42px;
  position: relative;
  width: 50%;
  border: 1px solid $lightGrey;
  border-radius: 25px;
  opacity: .47;

  @media #{$tablet} {

  }

  @media #{$mobile} {
    margin-right: 0;
    width: 20%;
  }

  input {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 25px;
    color: $grey;
    font-size: 18px;
    outline: none;

    @media #{$mobile} {
      margin-right: 0;
      width: 20%;
    }
  }
}

.mob_search {
  margin-right: 10px;
  position: relative;
  border: 1px solid $lightGrey;
  border-radius: 25px;
  opacity: .47;
  width: 40%;

  input {
    padding: 3px 10px;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 25px;
    color: $grey;
    font-size: 15px;
    outline: none;
    background-color: transparent;
  }
}


.loupe {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  @media #{$tablet} {
    display: none;
  }

  @media #{$mobile} {
    margin-right: 0;
    width: 20%;
  }
}
