@import "variables";

.payment {
  text-align: center;
}

.info {
  margin: 0 60px;
  padding: 84px 0;
  border-bottom: 1px solid $lightGrey;
}

.info_block {

  &:first-child {
    padding-bottom: 34px;
  }
}

.label {
  font-size: 22px;
  color: $lightGrey;
}

.data {
  padding: 15px 0;
  font-size: 27px;
}

.save {
  padding-top: 25px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.link {
  margin: 10px 0;
  display: inline-block;
  font-size: 22px;
  color: $blue;
}
