@import "variables";

.date {
  padding: 35px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media #{$mobile} {
    flex-direction: column;
    align-items: center;
  }
}

.date_slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider {
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media #{$mobile} {
    padding-left: 10px;
  }
}

.picker {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media #{$mobile} {
    padding-top: 30px;
  }
}

.label {
  font-size: 18px;
}

.text {
  padding: 0 25px;
  font-size: 22px;
  color: $black;

  @media #{$mobile} {
    padding: 0 10px;
  }
}

.arrow {
  background-color: transparent;
  border: 0;
  outline: 0;

  &:last-child {
    transform: rotateY(180deg);
  }
}

.calendar {
  margin-left: 70px;
  background-color: transparent;
  border: 0;
  outline: 0;
}
