@import "variables";

.data_block {
  padding-top: 50px;
  display: flex;
}

.info {
  padding-left: 60px;
  width: 60%;
}

.image {
  width: 272px;
  height: 172px;

  img {
    width: 100%;
    height: 100%;
  }
}

.title {
  font-size: 22px;
}

.cards {
  padding-top: 25px;
}

.label {
  padding-bottom: 10px;
  font-size: 18px;
  color: $slightGrey;
}

.card {
  padding: 6px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;

  &:hover,
  &:focus {
    background-color: #ddd;
  }
}

.checkbox {

  label {
    font-size: 18px !important;
  }
}

.amount {
  font-size: 22px;
}

.field {

  &:first-child {
    padding-bottom: 20px;
  }

  span {
    font-size: 18px;
  }
}

.number {
  padding: 12px 5px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $slightGrey;
  font-size: 20px;
  outline: none;
}

.sum {
  padding: 12px 5px;
  width: 30%;
  border: 0;
  border-bottom: 1px solid $slightGrey;
  font-size: 20px;
  outline: none;
}
