@import "variables";

.messageBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.btn {
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: $blueGrad;
  border: 1px solid $blue;
  outline: none;
  color: $white;
  transition: all ease-in-out .2s;

  @media #{$mobile} {
    width: 50px;
    height: 50px;
  }

  &:hover {
    transform: scale(1.5);
  }

  svg {
    width: 40px;
    height: 27px;

    @media #{$mobile} {
      width: 30px;
      height: 17px;
    }
  }
}
